language: python
python: 2.7
sudo: false
cache:
  directories:
    - eggs
env:
  - PLONE_VERSION=4.2
  - PLONE_VERSION=4.3
  - PLONE_VERSION=5.0
matrix:
  fast_finish: true
install:
  - sed -ie "s#test-4#test-$PLONE_VERSION#" buildout.cfg
  - python bootstrap.py
  - bin/buildout annotate
  - bin/buildout -Nq
before_script:
  - firefox -v
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
script: bin/code-analysis && bin/test
