[buildout]
parts =
    plone
    zope2
    instance

eggs =
    Products.RedirectionTool

develop =
    .


[plone]
recipe = plone.recipe.plone>=3.0.2


[zope2]
recipe = plone.recipe.zope2install
url = ${plone:zope2-url}


[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = admin:admin
http-port = 8080
debug-mode = on
verbose-security = on

eggs =
    ${buildout:eggs}
    ${plone:eggs}

zcml =
    Products.RedirectionTool

products =
    ${plone:products}
